<!-- Footer Start -->
<div class="container-fluid bg-dark  footer wow fadeIn" data-wow-delay="0.1s">
   
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3">
                    &copy; <a class="border-bottom" href="adel hassan">Alf@One</a> , All Right Reserved.                   
                </div>
                <div class="col-md-6 text-center text-md-end">
                  
                    <div>
                       
                        <a class="me-2"> Suivez-nous</a>
                        <a class="btn btn-outlin btn-social" href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a  class="btn btn-outlin btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a  class="btn btn-outlin btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outlin btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a  class="btn btn-outlin btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
@code {

}
<style>
    .footer {
        
        margin-top: 60px;
        
        margin-bottom: 2px;
        color: #FEA116;
    }

       
    .footer .copyright {
            padding: 15px 0px;
            font-size: 16px;          
           
        }

    .footer .copyright a {
            color: #FEA816;
    }


        .footer  .btn.btn-social {
            margin-right: 15px;
            padding-right: 15px;          
            width: 35px;
            height: 35px;          
            align-items: center;
            justify-content: center;
            color: #ff9800;           
            border: 1px solid #ff9800;
            border-radius: 40px;
            transition: .3s;            
        }

       .footer .btn.btn-social:hover {
            color:  #f8f9fa;
                background-color: #ff9800;
       }
</style>