<form class="d-flex" method="post" @onsubmit="SearchProduct">
    <input class="from-control me-2" @bind="filter" type="search" placeholder="Rechercher un produit" aria-label="Search" />
    <button class="btn btn-My fw-bold" type="submit"> Rechercher</button>
</form>
@code{
    public string filter { get; set; } = string.Empty;
    void SearchProduct()
    {
        if (string.IsNullOrWhiteSpace(filter) || string.IsNullOrEmpty(filter) || filter.Equals("")) return;
        navigationManager.NavigateTo($"/products/search/{filter}", forceLoad: true);
    }
}
<style>
    .btn-My {
        background: rgba(255, 180, 50, .9);
        border-color: #ffffff;
        color: #0F172B;
    }

        .btn-My:hover {
            background: rgba(255, 255, 255, .9);
            border: 2px solid #833500;
            color: #0F172B;
        }

</style>